.DS_Store           # ignore this exact filename
node_modules/       # ignore this folder
build/              # ignore the build folder
.env                # ignore env files
!important.log      
.DS_Store
